.companyProfile {
    width: 100%;
    overflow-x: hidden;
    background-color: #121212;
    color: #fff;
}

.logoContainer {
    position: absolute;
    left: 20px;
    z-index: 10;
}

.logo {
    height: 10em; /* Adjust based on your design */
}

p {
    line-height: 1.6;
    color: #bbb;
    text-align: justify;
    margin: 0 1.5em;
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 1.5em;
}

li {
    padding-left: 1.5em;
    position: relative;
    color: #bbb;
    text-align: left;
}

li::before {
    content: '•';
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
    color: #2e3a59;
    font-weight: bold;
}

.block2 {
    background-color: rgb(24, 25, 25);
}

.imageSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease-in-out;
}

.fullWidthImage,
.fullWidthImage1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.fullWidthImage:hover {
    transform: scale(1.05);
}

.icons {
    height: 2.5em; /* Adjust based on your design */
    width: 2.5em; /* Adjust based on your design */
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlayText {
    font-size: 8em;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 4px #000;
    text-align: left;
    margin-left: 5%;
    padding: 1em;
}

.overlaySubText {
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 2em;
    color: rgba(158, 153, 153, 0.7);
    text-shadow: 2px 2px 4px #000;
}

.blank {
    width: 100%;
    height: 6.25em; /* Adjust based on your design */
    overflow: hidden;
    position: relative;
    background: linear-gradient(to top, #0c0b0b 10%, rgb(245, 182, 255) 150%);
    border: transparent;
}

.aboutSection {
    background-color: #0c0b0b;
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    box-sizing: border-box; /* Ensures padding is included in the width */
    overflow: auto; /* Adds scrollbars if content overflows */
    max-height: 100vh; /* Limits the maximum height of the section */
    margin: 0 auto; /* Centers the section horizontally */
}

.aboutSection p,
.aboutSection h2,
.aboutSection li {
    width: 90%; /* Adjust based on your design */
    margin: 0 auto; /* Centers the text horizontally */
}

.aboutSection p {
    font-size: 1.4em;
    margin-bottom: 1em; /* Adds some space between paragraphs */
}

.aboutSection h2 {
    font-size: 2em;
    text-align: left;
    color: rgb(97, 90, 90);
    font-weight: 400;
}

.aboutSection li {
    font-size: 1.2em;
    margin-bottom: 0.5em; /* Adds some space between list items */
}

.taglineSection {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjusted height to fit the animation better */
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-style: italic;
    background: #0c0b0b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}

.taglineTextContainer {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.taglineText {
    animation: scroll 30s linear infinite;
    white-space: nowrap;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 4px #000;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

body {
    scrollbar-width: thin;
    scrollbar-color: rgba(6, 6, 6, 0.2) transparent;
}

@media (max-width: 768px) {
    p,
    ul {
        margin: 0 1em;
    }
    .aboutSection,
    .taglineSection,
    .visionSection,
    .missionSection,
    .valuesSection {
        padding: 1em;
    }
    .overlayText {
        font-size: 3em;
    }
    .overlaySubText {
        font-size: 1.2em;
    }
}
